.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.margin-top-80
  .panel.panel-default
    .panel-heading
      .panel-title Log In
    .panel-body
      = form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'} do |f|
        .input-group
          %span.input-group-addon
            %i.glyphicon.glyphicon-user
          = f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true, required: true
        .input-group
          %span.input-group-addon
            %i.glyphicon.glyphicon-lock
          = f.password_field :password, placeholder: 'Password', class: 'form-control', required: true
        .form-group
          .col-sm-12.controls
            = f.submit 'Log In', class: 'btn btn-success btn-block'
        .form-group
          .col-md-12.control
            .small-link-ul
              New User?
              = link_to 'Register!', register_path
